body {
    border: 0;
    margin: 0;
}

.logo_container {
    display: flex;
    position: relative;
    justify-content: center;
    height: 30vh;
}

.main_logo {
    height: 92px;
    width: 272px;
    position: absolute;
    bottom: 0;
    align-items: center;
}

.search_container {
    display: flex;
    justify-content: center;
    padding-top: 1.6em;
}

.search_bar {
    display: flex;
    justify-content: center;
    height: 2.7rem;
    width: 60vh;
    border-radius: 40px;
    border: 1px solid #DFE1E5;
}

.search_bar:hover {
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    border-color: rgba(233,225,229,0);
}

.magnify {
    display: flex;
    justify-content: center;
    height: 23px;
    width: 23px;
    align-self: center;
    padding-left: 0.5em;
}

.search {
    display: flex;
    flex: 100%;
    justify-content: center;
    padding-left: 0;
}

#search_box {
    display: flex;
    width: 50vh;
    margin-right: 2em;
    padding: 0;
    border: none;
    outline: none;
}

.mike_container {
    width: 4vh;
    align-self: center;
    text-align: right;
    z-index: 2;
}

.microphone {
    display: flex;
    align-self: center;
    height: 1.3em;
    width: auto;
}













